---
import SectionContainer from "./SectionContainer.astro";
import TitleSection from "./TitleSection.astro";
import Dot from "./ui/Dot.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-[#883aea] text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#000] text-white",
  },
}
const PROJECTS = [
  {
    title: "LBDTw",
    "isActive": "True",
    description:
      "El nuevo blog de los hinchas de Belgrano. Simple, rápido y seguro.",
    link: "https://lbdtw.pages.dev/",
    image: "/lbdtw2024.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Mi cofre",
    "isActive": "True",
    description:
      "Mi biblioteca de recursos que puede ayudarte a encontrar herramientas creativas para mejorar tu flujo de trabajo y dar vida a las ideas más rápido.",
    link: "https://micofre.luchito.com.ar",
    image: "/luchito-mobile.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "LBDTw",
    "isActive": "True",
    description:
      "LBDTw (La Banda del Tuiter) / La comunidad más grande de hinchas de Belgrano en X. Políticamente incorrectos desde 1905",
    link: "https://x.com/_lbdtw_",
    image: "/lbdtw-X.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "LBDTw",
    description:
      "El anitgüo blog de LBDTw, un sitio hecho en wordpress que nos acompañó muchos años.",
    link: "https://lbdtw.com.ar",
    image: "/lbdtw2023.webp",
    tags: [TAGS.WORDPRESS],
  },
]


---

<SectionContainer id="MyProjects">
  <TitleSection>
    Proyectos
  </TitleSection>

    <div class="flex flex-col md:grid md:grid-cols-6 grid-rows-4 gap-4">
        {PROJECTS.map((project, index) => {
          const gridArea = [
            index === 0 ? 'div1' : '', // First element
            index === 1 ? 'div2' : '', // Second element
            index === 2 ? 'div3' : '', // Third element
            index === 3 ? 'div4' : '', // Fourth element
          ];
      
          return (
            <a href={project.link} target="_blank" class={`relative rounded-2xl overflow-clip group md:group-hover:-translate-y-1 md:group-hover:shadow-2xl transition duration-500 ease-in-out transform   lg:border lg:border-gray-800 lg:hover:border-gray-700 ${gridArea.join(' ')}`}>
                <div class="absolute z-10 bottom-0 w-full px-4 py-10 lg:py-2 animate-fade-in animate-duration-250 duration-75 h-full flex flex-col justify-end" style="background: linear-gradient(transparent, #000000f5 75%)">
                  <header class="flex items-center gap-2">
                    <h2 class="font-bold text-balance text-lg md:text-2xl text-white [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)]">{project.title}
                    </h2>
                      <span>{project.isActive && <Dot/>}</span>
                  </header>
                    <p class="description transition ease-in-out transform text-white text-base md:text-lg max-w-[42ch] [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] group-hover:h-auto" style="transform: translateY(0);">{project.description}</p>
                </div>
                <img src={project.image} alt={project.title} class="w-full h-full object-cover aspect-video md:aspect-auto transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" />
            </a>
          );
        })}
      </div>
</SectionContainer>



    <style>
    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;

        }
    
    {/* .div2 { grid-area: 3 / 1 / 5 / 3; }
    .div3 { grid-area: 3 / 3 / 5 / 5; }
    .div4 { grid-area: 1 / 5 / 5 / 7; } */}

    .div1 { grid-area: 1 / 1 / 3 / 5; }
    .div2 { grid-area: 1 / 5 / 5 / 7; }
    .div3 { grid-area: 3 / 3 / 5 / 5; }
    .div4 { grid-area: 3 / 1 / 5 / 3; }
    
.description {
  height: 0px;
  overflow: hidden;
  transition: height .5s ease-in-out; /* Agregamos una transición suave */
  interpolate-size: allow-keywords;
}

.group:hover .description {
  /* Al pasar el mouse, mostramos la descripción */
  height: auto;
}

    </style>
